body {
      background-image:linear-gradient(to right, #006333, #e0e0e0);
      height:100%;
      width:100%;  
      position:center;
}
#container{
       width:auto;
       height:auto;
       position:fixed;
}
#menu{
      float:left;
      height: auto;
      margin-top:10px;
      position: inherit;
}
/*Back container in MasterPage*/
#MainContent{   
      width:73%;
      height:auto;
      text-align:center;
      margin-left:460px;
      margin-top:25px;
      position:absolute;
}
/*
div.spacer, permet de faire deux colonne dans #container
*/
div.spacer{
      clear:both; 
      height:auto; 
      display:block;
}
/*Menu - principal titles*/
.menuClass{
      padding:0px;
      margin-left:30px;
      list-style:none;
      text-align:center;
      width:400px;
}
/*Cellules principales du menu*/
.menuClass ul {
      padding:0px;
      margin:10px;
      list-style:none;
      text-align: left;
}
/*liste principale*/
.menuClass li {
      background:#006333;
      margin-bottom:5px;
      border:solid 1px #333A40;
      border-color:azure;
}
/*Define the height of sub menu*/
.menuClass li li{
      max-height:150px;
      overflow:auto;
      transition: all .5s;
      background: #369e3b;
      box-shadow:inset;
      margin:5.2px;
}
.menuClass a {
      display:block;
      text-decoration: none;
      color: #fff;
      padding: 2px 10px;
      font-family: verdana;
      font-size:1.1em;
}
.menuClass ul li a, .menuClass li:hover li a {
      font-size:1.1em
}
.menuClass li:hover {
      background: #006333;
}
.menuClass li li:hover {
      background: #666;
}
.menuClass li:hover li {
      max-height: 20em;
}

#title_area{
      background:#006333;
      border:solid 1px #fff;
      position:inherit;
      text-align:center;
      height:auto;
      color: #fff; 
      font-family: 'Trocchi', serif; 
      font-size: 1.5em; 
      font-weight: normal; 
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
}
#spacing_area{
      background:transparent;
      clear:both; 
      height:10px; 
      display:block;
      margin-left: 10px;
}
#search_area{
      background:#006333;
      border:solid 1px #fff;
      position:inherit;
      text-align:left;
      height:auto;
      color: #fff; 
      font-family: 'Trocchi', serif; 
      font-size: 20px; 
      font-weight: normal; 
      line-height: 5px; 
      margin-left: 0px;
      overflow: hidden;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
}
#Search_table{
      width:auto;
      float:left;
      margin-left:10px;
}
#List_table{
      width:auto;
      float:right;
      margin-right:10px;
}
/*Go button*/
.Go{
      box-shadow:0px 0px 2px 0px #3dc21b;
      background:#0c3b19;
      border-radius:5px;
      border:2px solid azure;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family: 'Trocchi', serif; 
      font-size: 20px; 
      font-weight: bold;
      font-style:normal; 
      padding:18px 6px;
      text-decoration:none;
      position:static;
}
/*Go button reacting on mouse over*/
.Go:hover{
      filter:progid:DXImageTransform.Microsoft.gradient(start);
      background-color:#009550;
}
/*DropListBox Select Distrib List*/
.mailingList{ 
      width:450px;
      height:40px;
      text-align:left;
      font-family: 'Trocchi', serif; 
      font-size: 20px; 
      font-weight: bold;
      font-style:oblique; 
}
/*Space between Search Area and Result Area*/
#spacing_area2{
      background:transparent;
      clear:both; 
      height:10px; 
      display:block;
      margin-left: 10px;
}
/*Result Area of search process*/
#result_area{
      background:transparent; 
      position:inherit;
      height:750px;
      color: #fff; 
      font-family: 'Trocchi', serif; 
      font-size: 30px; 
      font-weight: normal; 
      line-height: 2px; 
      overflow: hidden;
}
/*Gestion des effets pour l'affichage de la carte de visite--------------------------------------------*/
.modalDialog {
      background:#1e1010;
      margin-left:500px;
	z-index: 99999;
      opacity:1;
	opacity:0;
	transition: opacity 400ms ease-in;
}
/*Gère la petite croix pour fermer la carte de visite*/
.modalDialog:target {
	opacity:0;
	pointer-events:auto;
}
.modalDialog > div{ 
      border-radius:10px;
      background:transparent;
      transition:all 0.4s ease-in-out;
}
/*The Visit Card Owner Part---------------------------------------------------------------------------------------------------*/
/*Title Owner*/
#openModal{
      position:fixed;
      font-family: 'Trocchi', serif; 
      font-size: 17px; 
      color:white;
      border:double;
      border-color:azure;
      background:transparent;
      background-image:url(../Images/visit_card_texture.jpg); 
      margin-left:500px;
      border-radius:24px;
      text-align:left;
      width:auto;
      height:auto;
}
#title_owner{
      text-align:center;
}
/*Photo area Owner*/
#photo_area{
      background:transparent;
      border:double;
      border-color:azure;
      float:left;
      width:auto;
      margin-left:10px;
      margin-top:auto;
      margin-bottom:60px;
}
/*Description dans la carte de visite*/
#owner_description {
      margin-top: 15%;
      margin-left: 40%;
      width:100%;
}
/*carte de visite*/
#owner_box{
      margin-right:15px;
      width:auto;
}
.tableheader{
      width:100px;
      margin:550px;
}
/*----------------------------------------LIST ARRAY-----------------------------------------*/
.table {
      font-family: 'Trocchi', serif;
	color:#666;
	font-size:15px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	border:#ccc 1px solid;
	border-radius:3px;
	box-shadow: 0 1px 2px #d1d1d1;
      position:center;
      width:550px;
      margin: auto;
}
/*Container page table*/
.table th {
	padding:5px 0px 10px 20px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;
	background: #ededed;
      text-align:center;
}
.table th:first-child {
	text-align: center;
}
.table tr:first-child th:first-child {
      text-align: center;
	border-top-left-radius:5px;
}
.table tr:first-child th:last-child {
	border-top-right-radius:5px;
      text-align:left;
}
/*ID column*/
.table td:first-child {
	text-align: center;
      width:500px;
}
/*View Column*/
.table td:last-child {
	text-align: center;
      width:50px;
}
.table td {
	padding:inherit;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
      width:auto;
      max-width:500px;
}
.table tr.even td {
	background: #f6f6f6;
}
.table tr:last-child td {
	border-bottom:0;
}
.table tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}
.table tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}
.table tr:hover td {
	background: #f2f2f2;
}
thead,tbody{
      display:block;
      width:auto;
}
tbody{
      height:auto;
      max-height:430px;
      overflow-y:auto;
      overflow-x:hidden;
      width:auto;     
     background:#132c1a;
}
/*-------------------------------------------------------------------------------------------------*/
/*Owners List Button Area--------------------------------------------------------------------------*/
/*Area which manage all the owners buttons*/
.button_class_owners{
      position:fixed;
      background:transparent;
      height:auto;
      text-align:center;
      margin-top:7px;
      left:850px;
}
#add_button_owners{
      background:transparent;
      display:inline-block;   
}
#del_button_owners{
      background:transparent;
      display:inline-block;  
}
/*Members List Button Area-------------------------------------------------------------------------*/
/*Area which manage all the members buttons*/
.button_class_members{
      position:absolute;
      background:transparent;
      height:auto;
      text-align:center;  
      margin-top: 7px;
      left:1000px;
}
#add_button_members{
      background:transparent;
      display:inline-block;  
}
#del_button_members{
      background:transparent;
      display:inline-block;  
}
/*Members List column--------------------------------------------------------------------------------------------*/
/*Title Members LD*/
#title_members_LD{
      background:transparent;
      height:auto;
      width:100%;
      float:left;
      font-family: 'Trocchi', serif; 
      font-size: 30px; 
      text-align:center;
}

/*Members's List LD*/
#members_list{
      background:#006333;
      height:77%;
      width:49%;
      float:right;
      border:double;
      border-color:azure;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
}

/*Title Owner LD*/
#title_owners_LD{
      background:transparent;
      height:auto;
      width:100%;
      float:left;
      font-family: 'Trocchi', serif; 
      font-size: 30px; 
      text-align:center;
}

/*Owner's List LD*/
#owners_list{
      background:#006333;
      height:77%;
      width:49%;
      float:left;
      border:double;
      border-color:azure;
      border-top-left-radius: 24px;
      border-top-right-radius: 24px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
}