body {
    background:#eaebec;
    width: 100%;
    height: auto;
    position: relative;
    pointer-events: auto;
    cursor: auto;
    color: #111111;
    font-family: 'Trocchi', serif;
    font-size: 20px;
}
.VisitCardArea {
    background: transparent;
    width: 100%;
    height: auto;
}
.photo_area {
    background: transparent;
    float: left;
    width: auto;
    height: auto;
    position: relative;

    margin-left: 10px;
}
.textbox_area {
    background: transparent;
    float: right;
    width: 77%;
    height: auto;
    border: none;
    margin-left:-100px;
}
.Labels{
    background:transparent;
    display:inline-block;
    width:24%;
    line-height: 35.5px;
    text-align:right;
    margin-left:-100px;
}
.LabelStyle{
    background:transparent;
    display:inline-block;
}
.txtbox_details {
    background: transparent;
    width: 88%;
    float: right;
    height: 180px;
    resize: none;
    text-align: left;
    color: #0e3512;
    font-family: 'Trocchi', serif;
    font-size: 20px;
    line-height: 35.5px;
    border-style: none;
    display:inline-block;
}